<a href="/video-posts">Back to Feed</a>

<div id="showVideoPost">
  <h1><%= @videopost.title %></h1>
  <video class="main-video" width="720" height="480" controls>
    <source src="<%= @videopost.video_url %>#t=0.5" type="video/mp4">
  </video>
</div>

<div id="videoPostInteractions">
  
<% if logged_in?%>
  <form action="/video-posts/<%= @videopost.id %>/like" method="POST">
    <input type="submit" value=
    <% if @liked_video_posts.include?(@videopost) %>
      "Unlike Video Post"
    <% else %>
      "Like Video Post"
    <% end %>
    >
    
  </form>
  
  <% if current_user == @videopost.creator %>
    <form action="/video-posts/<%= @videopost.id %>/delete" method="POST">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Video Post">
    </form>
    
    <a href="/video-posts/<%= @videopost.id %>/edit">Edit Video Post</a>
  <% end %>
<% end %>

</div>