<a href="/video-posts">Back to Feed</a>

<div id="showVideoPost">
  <h2><%= @videopost.title %></h2>
  <h3><%= @videopost.video_link %></h3>
  <iframe allowfullscreen="true" height="378" width="620" src="<%= @videopost.video_link %>">
    </iframe>
</div>

<div id="videoPostInteractions">
  
<% if logged_in?%>
  <form action="/video-posts/<%= @videopost.id %>/like" method="POST">
    <input type="submit" value="Like Video Post">
  </form>
  
  <% if current_user == @videopost.creator %>
    <form action="/video-posts/<%= @videopost.id %>/delete" method="POST">
      <input type="submit" value="Delete Video Post">
    </form>
    
    <a href="/video-posts/<%= @videopost.id %>/edit">Edit Video Post</a>
  <% end %>
<% end %>

</div>