<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if logged_in? %>

<div id="userNav">
  <h3>Welcome, <%= @user.username %></h3>
  <a href="/logout">Log Out</a>
  <a href="/video-posts/new">Create Post</a>
  <a href="/video-posts/liked-video-posts">Liked Posts</a>
  <a href="/video-posts/created-video-posts">Created Posts</a>
</div>

<% else %>

<div id="userNav">
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
</div>

<% end %>

<h2>Lixer Feed</h2>
<p>Repost and Collect Your Favorite Videos!</p>
<ul>
  <% @videoposts.each do |videopost| %>
  <li>
    <div class="video-post">
      <video id="player" width="200" height="130" controls>
        <source src="<%= videopost.video_url %>#t=0.5" type="video/mp4">
      </video>
      <a href="/video-posts/<%= videopost.id %>"><%= videopost.title %></a>
      <br>
      <p><%= videopost.creator.username %></p>
    </div>
  </li>
  <% end %>
</ul>

<% if @videoposts.empty? %>
  <p>There are no videos.</p>
<% end %>

<div style="clear: both"></div>