<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if logged_in? %>

<div id="userNav">
  <h3>Welcome, <%= @user.username %></h3>
  <a href="/logout">Log Out</a>
  <a href="/video-posts/new">Create Post</a>
  <a href="/video-posts/liked-video-posts">Liked Posts</a>
  <a href="/video-posts/created-video-posts">Created Posts</a>
</div>

<% else %>

<div id="userNav">
  <a href="/login">Log In</a>
  <a href="/signup">Sign Up</a>
</div>

<% end %>

<h2>Lixer Feed</h2>
<p>Repost and Collect Your Favorite Videos!</p>
<ul>
  <% VideoPost.all.each do |videopost| %>
  <li>
    <div class="video-post">
      <iframe width="200" height="130" src="<%= videopost.video_link %>">
  </iframe>
      <a href="/video-posts/<%= videopost.id %>"><%= videopost.title %></a>
      <br>
      <p><%= videopost.creator.username %></p>
    </div>
  </li>
  <% end %>
</ul>